@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900');
* {
    font-family: 'Raleway', sans-serif;
}
li {
    list-style: none;
}
.clr {
    clear: both;
}

/****************** stype homepage *******************/
#header_top {
    background: #283c4f;
    height: 82px;
    position: relative;
}
#header_top i {
    color: #ec6367;
    position: absolute;
    height: 100%;
    line-height: 82px;
    font-size: 30px;
    cursor: pointer;
}
.header_logo {
    text-align: center;
    line-height: 82px;
}
.header_bot {
    box-shadow: 1px 1px 10px;
}
.header_bot_one {
    margin: 30px 0;
}
.header_bot_one form {
    position: relative;
    width: 70%;
}
.header_bot_one form input[type=text] {
    width: 100%;
    padding: 5px;
    border: 1px solid;
    border-radius: 2px;
}
.header_bot_one form button {
    position: absolute;
    top: 4px;
    right: 0;
    background: none;
    border: 0;
}
.header_bot_one form button i {
    font-size: 20px;
}
.header_bot_one .header_bot_one_right {
    text-align: right;
}
.header_bot_one_right ul {
    margin: 0;
    padding: 0;
}
.header_bot_one_right ul li {
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
}
.header_bot_one_right ul li:first-child {
    cursor: pointer;
}
.header_bot_one_right ul li:first-child:after {
    content: "\f078";
    font-family: FontAwesome;
    margin-left: 10px;
}
.header_bot_one_right ul li i {
    padding: 0 5px;
    font-size: 18px;
}
.header_bot_one_right ul li:last-child:after {
    content: "\f078";
    font-family: FontAwesome;
    margin-left: 10px;
}
.header_bot_one_right ul li:last-child i {
    background: #000;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.header_bot_one_right ul li:last-child span {
    margin-left: 10px;
}
.header_bot_two {
    margin-bottom: 20px;
}
.header_menu_op div {
    background: #0ebfeb;
    border-radius: 2px;
    min-height: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
#body_content_top {
    background: url(../images/body_bg.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    padding-top: 30px;
}
.body_sidebar_one {
    font-weight: bold;
    padding: 20px 10px;
    background: #fff;
}
.body_sidebar_one h2 {
    font-weight: 900;
    margin-top: 0;
    font-size: 25px;
}
.body_sidebar_one p {
    font-weight: normal;
}
.body_sidebar_one span {
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #0ebfeb;
    border-radius: 2px;
    padding: 5px 10px;
    color: white;
}
.body_sidebar_two {
    background: #fff;
    padding: 20px 10px;
    // font-weight: bold;
    margin-top: 25px;
    margin-bottom: 2px;
}
.body_sidebar_two h3 {
    font-weight: 800;
    margin-top: 0;
    font-size: 18px;
}
.body_sidebar_two img {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 40%;
}
.body_sidebar_two div {
    display: inline-block;
}
.body_sidebar_two p {
    margin: 0;
}
.body_sidebar_two .sibar_two_p_color {
    color: #33b54b;
}
.body_sidebar_three {
    padding: 20px 10px;
    background: #fff;
    // font-weight: bold;
}
.body_sidebar_three h3 {
    margin-top: 0;
    font-weight: 800;
    font-size: 18px;
} 
.recently_view_item {
    margin: 25px 0;
}
.recently_view_item img {
    display: inline-block;
    width: 40%;
    margin-right: 15px;
    float: left;
}
.recently_view_item p {
    width: 50%;
    float: left;
}
.body_content_slider img {
    width: 100%;
}
.body_content_slider {
    // margin-bottom: 25px;
}
.product_item_content {
    padding: 5px;
    background: #fff;
    min-height: 250px;
    position: relative;
    margin: 25px 0;
}
.product_item_content img {
    width: 100%;
}
.product_item_content div {
    position: absolute;
    bottom: 15px;
}
.product_item_content div i {
    color: #ec6367;
    font-size: 20px;
}
.product_item_content div i.fa-heart {
    margin: 0 20px 0 15px;
}
.product_item_content div span {
    color: #01bd18;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}
#body_content_bot {
    background: #ff5e5e;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 10px;
}
#footer_content {
    background: #000;
    color: white;
    // font-weight: bold;
}
.footer_content_top {
    padding: 10px 0 20px 0;
}
.footer_content_top h3 {
    font-weight: bold;
    font-size: 18px;
}
.footer_content_top p {
    margin: 0;
    font-weight: 500;
}
.footer_content_top .footer_app_store p {
    margin-bottom: 10px;
}
.footer_line {
    height: 1px;
    border-bottom: 3px solid #7c7c7c;
    margin: 20px 0;
}
.footer_app_store img {
    width: 49.5%;
    margin-bottom: 20px;
}
.copyright_top {
    margin-bottom: 20px;
}
.copyright_top i {
    font-style: normal;
}
.copyright_bot p {
    margin: 0;
}
.footer_link {
    text-align: right;
}
.footer_link i {
    width: 40px;
    height: 40px;
    background: #5e646c;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    margin: 0 5px;
    color: black;
}
.footer_logo {
    text-align: center;
    margin-top: 20px;
}
@media (min-width: 1700px) {
    body .container {
        width: 1650px;
    }
    .header_menu_op div {
        line-height: 40px;
    }
}
/****************** end stype homepage *******************/

/***************** style job posting page ***************/

form .number_form {
    background: url('../images/bg_flower.png');
    background-repeat: no-repeat;
    float: left;
    height: 28px;
    padding-left: 10px;
    line-height: 24px;
    width: 10%;
    color: white;
    font-size: 20px;
}
form .form_group_post {
    float: right;
    width: 90%;
    margin-bottom: 70px;
}
.form_group_post .label_form {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 20px;
}
.form_group_post #select_op_form {
    border-radius: 15px;
    border: 1px solid #a7a6a6;
}
.form_group_post .project_name {
    display: block;
    font-weight: 500;
}
.form_group_post input[type=text] {
    width: 100%;
    border: 1px solid #a7a6a6;
    height: 34px;
    border-radius: 15px;
    padding: 0 15px;
}
.form_group_post .label_three {
    text-align: right;
    width: 100%;
    font-weight: 500;
    padding-right: 30px;
    padding-top: 10px;
}
.form_group_post .describe_form {
    margin-top: 30px;
}
.form_group_post .textarea_form {
    border: 1px solid #a7a6a6;
    border-radius: 30px;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 60px;
}
.form_group_post button {
    width: 35%;
    border: 1px solid #a7a6a6;
    border-radius: 15px;
    background: #fff;
    height: 30px;
    font-weight: bold;
    vertical-align: top;
    margin-left: 20px;
}
.form_group_post button i {
    margin-right: 5px;
}
.form_group_post .upload_form {
    width: 60%;
    padding-left: 30px;
    font-weight: 500;
}
.form_group_post input[type=radio] {
    opacity: 0;
    margin-top: 0px;
    line-height: 17px;
    display: block;
    float: left;
    height: 15px;
}
.form_group_post .label_radio {
    display: block;
    float: left;
    font-size: 13px;
    margin-right: 15px;
    line-height: 20px;
    position: relative;
    font-weight: 500;
    padding-left: 10px;
}
.form_group_post .label_radio:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-left: -20px;
    border: 3px solid #ea6267;
    border-radius: 50%;
    background-color: none;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
.form_group_post .label_radio:after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #ea6267;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.form_group_post input[type="radio"]:checked + .label_radio:after {
    webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    background: #fff;
    border: 5px solid #ea6267;
}
.full_radio_button {
    margin-bottom: 20px;
}
.select_op_full {
    margin-bottom: 70px;
}
.select_op_inr {
    width: 20%;
    height: 34px;
    border: 1px solid #a7a6a6;
    border-radius: 15px;
    padding: 0 10px;
}
.select_op_price {
    width: 50%;
    height: 34px;
    border: 1px solid #a7a6a6;
    border-radius: 15px;
    padding: 0 10px;
}
.form_group_post input[type=submit] {
    border: 1px solid #ea6267;
    border-radius: 15px;
    height: 40px;
    width: 30%;
    background: #ea6267;
    color: white;
    font-weight: 700;
    vertical-align: top;
}
.form_group_post p {
    display: inline-block;
    width: 60%;
    margin-left: 50px;
    font-weight: 500;
}
.form_group_post p span {
    color: #ea6267;
}
.posting_sidebar {
    border: 1px solid #fff;
    margin-bottom: 40px;
}
.post_sidebar_title {
    background: #ea6267;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: white;
    font-weight: 700;
}
.post_sidebar_content {
    padding: 50px 20px 30px 20px;
}
.post_sidebar_content p {
    margin: 0 0 10px;
    display: inline-block;
    width: 90%;
    padding-left: 10px;
    font-weight: 500;
}
.post_sidebar_content i {
    vertical-align: top;
    color: #ea6267;
    font-size: 20px;
}
.post_sidebar_content span {
    padding-left: 10px;
    color: #ea6267;
    font-weight: 700;
}
.no_opacity {
    opacity: 0;
}
.posting_sidebar img {
    width: 100%;
}
.p_content_sidebar_post {
    padding: 30px 20px;
    text-align: justify;
    font-weight: 500;
}


/*************** end style job posting page ***************/